/* =============================
Top Level
============================= */
body {
    background-color: rgb(48, 48, 48) !important;
}

#mobile-container {
    background-color: white;
    height: 960px;
    width: 540px;
    margin: 0 auto;
}

/* =============================
Mobile Layout
============================= */
.mobile-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.mobile-layout__body {
    flex: 1;
    padding: 1rem;
}

.mobile-layout__footer {
    border-top: 3px solid rgb(160, 160, 160);
    box-sizing: border-box;
    padding: 1rem;
}

.mobile-layout__header {
    box-shadow: 0 1px 3px rgb(160, 160, 160);
    box-sizing: border-box;
    padding: 1rem;
}

/* =============================
Logos
============================= */
.main-logo {
    width: 40px;
    height: 40px;
}

/* =============================
Icons
============================= */
.icon__plus {
    width: 2.5rem;
    height: 2.5rem;
}

.icon__anonymous-person {
    width: 2rem;
    height: 2rem;
}

/* =============================
Past Bills
============================= */
.pastBills__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pastBills__pill {
    align-items: center;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    height: 6rem;
    justify-content: center;
}

.pastBills__pill-text {
    font-size: 1.2rem;
}

.pastBills__pill--empty {
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.pastBills__pill--empty:hover,
.pastBills__pill--empty:active {
    background-color: rgb(245, 245, 245);
    border-color: rgb(235, 235, 235);
    color:rgb(135, 135, 135);
    cursor: pointer;
}

.pastBills__pill--empty .icons__plus {
    transition: filter 0.2s;
}

.pastBills__pill--empty:hover .icons__plus,
.pastBills__pill--empty:active .icons__plus {
    filter: brightness(0.9);
}

.pastBills__pill--filled {
    border-color: rgb(255, 119, 7);
    color:rgb(255, 119, 7);
    transition: background-color 0.2s, color 0.2s;
}

.pastBills__pill--filled:hover,
.pastBills__pill--filled:active {
    background-color: rgb(255, 119, 7);
    color: white;
    cursor: pointer;
}

.pastBills__pill--muted {
    background-color: rgb(240, 240, 240);
    color:rgb(140, 140, 140);
}

.pastBills__tabList {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0;
}

.pastBills__tab {
    align-items: center;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    font-size: 1.2rem;
    height: 6rem;
    justify-content: center;;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.pastBills__tab:hover,
.pastBills__tab:active {
    background-color: rgb(250, 250, 250);
    border-color: rgb(255, 119, 7);
    color:rgb(255, 119, 7);
    cursor: pointer;
}

.pastBills__tab-content {
    display: inline-block;
}

.pastBills__title {
    font-size: 2rem;
}

/* =============================
Start New Bill Home Page
============================= */
.newBillHomePageButton {
    border: 1px solid gray;
    color: gray;
    border-radius: 0.5em;
    padding: 15px;
    width: 250px;
}

.newBillHomePageButton:hover {
    border: 1px solid rgb(255, 136, 0);
    color: rgb(255, 136, 0);
}

.newBillHomePageButtonText {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.newBillHomePageContainer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.outerContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

